@model IEnumerable<Project_Gym_Asp_Net.Models.User>
@{
    ViewData["Title"] = "Users list";
}

<table class="table">
    <tr>
        <td>Email</td>
        <td>UserName</td>
        <td>Phone</td>
        <td>Options</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@user.PhoneNumber</td>
            <td>
                <form asp-action="Delete" asp-controller="Users" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Users" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-controller="Users" asp-route-id="@user.Id">Change Password</a>
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" asp-controller="Users" class="btn btn-lg btn-outline-info">Add User</a>
