@model IEnumerable<Project_Gym_Asp_Net.Models.Exercise>
@using Project_Gym_Asp_Net.Models

@{
    ViewData["Title"] = "AllExercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body  style="background-image: url(https://lh3.googleusercontent.com/proxy/5vlYS8zzfrdrotWgJoRDtv-swWPOAL5Pw2emIFlZVVIGKeMZEzH5MLwkhGZ-HuD2kwZbrHbJ6MkB11OyZ6KSiNRgRE64W4AegjuLR8mSOdhA424); background-size: 100%">
        <div class="container-fluid"><h1>All Exercises </h1></div>
        <br />
        <table class="table text-warning">
            <thead>
                <tr class="table-active text-light">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        <a asp-action="AllExercise" asp-route-sort="@ViewBag.ExerciseSort">ExerciseName</a>
                        @*@Html.ActionLink("ExerciseName", "AllExercise", new { sort = ViewBag.ExerciseSort })*@
                    </th>
                    <th>@Html.DisplayNameFor(model => model.CountApproach)</th>
                    <th>@Html.DisplayNameFor(model => model.Repeats)</th>
                    <th>@Html.DisplayNameFor(model => model.ExerciseCategory)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-weight:900;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExerciseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountApproach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repeats)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExerciseCategory)
                        </td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-outline-primary" asp-action="EditExercise" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-sm btn-outline-danger" asp-action="DeleteExercise" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <a class="btn btn-success btn-lg btn-block" href="@Url.Action("CreateExercise", "Exercise")">Add Exercise</a>
        </div>
</body>