@model IEnumerable<Project_Gym_Asp_Net.Models.Category>
@{
    ViewData["Title"] = "AllCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Category</h1>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td >
                <a class="btn btn-sm btn-info" href="~/Category/CategoryExercise/@item.Id">All Exercise</a>                
            </td>
            <td class="text-right">
                <a class="btn btn-sm btn-outline-success" href="~/Exercise/CreateExercise/@item.Id">Add Exercise</a>
                <a class="btn btn-sm btn-outline-primary" asp-action="EditCategory" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-sm btn-outline-danger" asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-success btn-lg btn-block" href="@Url.Action("CreateCategory", "Category")">Add Category</a>
</div>